<aside class="page-sidebar">
	<div class="searchbox-sidebar">
		<%= image_tag 'icons/search.svg' %>
    <input type="text" class="search-box m-0" placeholder="Search" aria-label="Search" aria-describedby="basic-addon1">
	</div>
</aside>